@using System.Linq.Dynamic.Core

<h2>Component1</h2>

<input placeholder="Linq query..." @bind="query"/>
<button @onclick="OnClick">Filter</button>
<ul>
    @foreach (var person in filteredPeople)
    {
        <li>@person.Name, @person.Age</li>
    }
</ul>


@code {   
    string query;
    Person[] people = new Person[]
    {
        new Person { Name = "Joe", Age = 20 },
        new Person { Name = "Bob", Age = 30 },
        new Person { Name = "Amy", Age = 70 }
    };
    IEnumerable<Person> filteredPeople;

    protected override void OnInitialized()
    {
        var x = "foo".StartsWith("f");
        filteredPeople = people;
    }

    void OnClick()
    {
        filteredPeople = people.AsQueryable().Where(query);
    }

    public class Person
    {
        public int Age { get; set; }
        public string Name { get; set; }
    }
}